<div class="row" style="margin:0px; max-width:100%">
    <%= image_tag 'code.jpg', :class=>'bg_image'%>
    <h1 class="header_text">A place where Hackers <span style="color: #f05323">Learn & Teach</h2>
      <div class="row" style="text-align:center;">
  <a href="/login" class=" button" >Get Started</a>
</div>
</div>