<div class="row">
  <div class="large-11 small-offset-1 columns">
    <h3 class="subheader">New stuff for you to learn!</h3>
  </div>
</div>

<div class="row">
  <div class="large-11 small-offset-1 columns">  
    <%= render 'form'%> 
  </div>
</div>


